DATABASE_URL=postgresql://postgres:postgres@localhost:5432/feedbackdb
DATABASE_SSL=false
PORT=3000
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=Admin@12345
MANAGER_EMAIL=chinmay@company.com
MANAGER_PASSWORD=Manager@12345
EMPLOYEE_EMAIL=akash@company.com
EMPLOYEE_PASSWORD=Employee@12345

TEAMLEAD_EMAIL=lead@company.com
TEAMLEAD_PASSWORD=TeamLead@12345
